
:root {
    /* colours */
    --darkblue: #172339;
    --grey: #49566D;
    --cream: #F3EDE7;
    --white: #FAF8F6;
    --violet: #A060FF;
    --pink: #CB30E3;
    --orange: #FFA84E;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html, body {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--grey);
    background-color: var(--white);
    margin: 0;
}

main {width: 375px;}

@media screen and (min-width: 768px) {
    main {width: 768px;}
}

@media screen and (min-width: 992px) {
    main {width: 1440px;}
}

/* Typography
---------- */

/* Heading XL */
h1 {
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -.527778px;
    color: var(--darkblue);
    margin: 0;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 72px;
        line-height: 78px;
        letter-spacing: -1px;
    }
}

h1 span {font-weight: 700;}

/* Heading L used in Stats */
h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.5px;
    color: var(--darkblue);
    text-align: center;
}

/* Heading M - jeremy after quote */
h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -.18px;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

/* Heading S used in stats labels and jeremy title */
h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

#quote {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    color: var(--cream);
    margin: 13.2px 16px 40px 16px;
}

@media screen and (min-width: 768px) {
    #quote {margin: 40px;}
}

@media screen and (min-width: 992px) {
    #quote {
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.111111px;
        margin: 40px 0px;
    }
}

/* Buttons
---------- */

#button-Primary {
    width: 256px;
    height: 61px;
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -.18px;
    margin-bottom: 55.68px;
}

#button-Primary:hover {
    color: var(--cream);
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    cursor: pointer;
}

#button-Secondary {
    width: 182px;
    height: 48px;
    background-color: var(--white);
    color: var(--darkblue);
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    border: 1px solid var(--darkblue);
}

#button-Secondary:hover {
    color: var(--cream);
    background-color: var(--darkblue);
    cursor: pointer;
}

/* Main elements
----------------- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 16px;
}

@media screen and (min-width: 768px) {
    .header {margin: 40px;}
}

@media screen and (min-width: 992px) {
    .header {margin: 50px 165px 67px 165px;}
}

img.logo {width: 81px;}

/* TOP SECTION with Hero image and stats
----------------------------------------- */

.top-section {
    position: relative;
    margin: 16px;
}

@media screen and (min-width: 768px) {
    .top-section {
        margin: 80px 40px 354px 40px;
        display: grid;
        grid-template-rows: 482px 83px;
        grid-template-columns: 350px 
                               calc(408px - 350px)
                               calc(573px - 408px)
                               calc(768px - 80px - 573px);
        gap: 88px 0px;
    }
}

@media screen and (min-width: 992px) {
    .top-section {
        margin: 80px 165px 200px 165px;
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    #heading1 {margin: 0px 0px;}
}

.left-pane {margin: 16px inherit;}

@media screen and (min-width: 768px) {
    .left-pane {
        margin: 88px 0px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        z-index: 2;
    }
}

@media screen and (min-width: 992px) {
    .left-pane {margin: 88px 0px 40px 0px;}
}

#curved-line-top {
    position: absolute;
    width: 151.47px;
    height: 19px;
    left: 154px;
    top: -9.5px;
}

@media screen and (min-width: 768px) {
    #curved-line-top {
        width: 231.19px;
        height: 29px;
        left: 224px;
        top: 39px;
        z-index: 2;
    }
}

@media screen and (min-width: 992px) {
    #curved-line-top {
        width: 287px;
        height: 36px;
        left: 290px;
        top: 40px;
        z-index: 2;
    }
}

.left-pane p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    color: var(--grey);
}

@media screen and (min-width: 768px) {
    .left-pane p {
        width: 350px;
        margin: 40px 0px;
    }
}

@media screen and (min-width: 992px) {
    .left-pane p {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.1px;
        margin: 40px 0px 52px 0px;
    }
}

@media screen and (min-width: 768px) {
    picture.hero {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 5;
        z-index: 0;
        width: 281px;
    }
}

@media screen and (min-width: 992px) {
    picture.hero {
        width: 350px;
        position: relative;
        left: -150px;
        z-index: 1;
    }
}
.right-pane-stats {
    margin-top: 40px;
    margin-bottom: 335px;
}

@media screen and (min-width: 768px) {
    .right-pane-stats {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        justify-content: space-evenly;
        margin: 0px;
    }
}

@media screen and (min-width: 992px) {
    .right-pane-stats {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.stats {
    margin: 16px;
}

@media screen and (min-width: 768px) {
    .stats {margin: 0;}
}

.stats h2 {margin:0;}

.stats h4 {margin:0;}

/* Mid section with Jeremy
------------------------ */

.mid-section {
    background-color: var(--darkblue);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .mid-section {
        width: calc(768px - 2 * 40px);
        height: 684px;
        margin: 40px;
    }
}

@media screen and (min-width: 992px) {
    .mid-section {
        flex-direction: row;
        justify-content: space-evenly;
        width: calc(1440px - 2 * 165px - 122px);
        height: 545px;
        margin: 0 165px 0 165px;
        padding-bottom: 20px;
        padding-left: 122px;
        position: relative;
    }
}

#jeremy {width: 343px;}

@media screen and (min-width: 768px) {
    #jeremy {
        width: 252px;
        margin-bottom: 350px;
    }
}

@media screen and (min-width: 992px) {
    #jeremy {width: 359.81px;}
}

#jeremy img {
    position: absolute;
    margin-top: -629px;
    width: 343px;
}

@media screen and (min-width: 768px) {
    #jeremy img {
        margin-top: -131px;
        width: 252px;
    }
}

@media screen and (min-width: 992px) {
    #jeremy img {
        /* margin-top: -300px; */
        width: 359.81px;
        margin: 0 35.9px -351px 0;
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    #blur-oval {
        margin: 0;
        position: absolute;
        width: 400px;
        transform: translate(0px, -259px);
    }
}

@media screen and (min-width: 992px) {
    #blur-oval {
        margin: 0;
        position: absolute;
        width: 500px;
        transform: translate(-325px, 60px);
    }
}

#curved-line-mid {
    width: 49.27px;
    margin-top: -116px;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    #curved-line-mid {margin-top: 0;}
}

@media screen and (min-width: 992px) {
    #curved-line-mid {
        width: 49.27px;
        margin-top: -116px;
        text-align: center;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    .mid-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 58px 0 58px;
    }
}

@media screen and (min-width: 992px) {
    .mid-info {
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 125px 0 52.75px;
    }
}

.mid-section h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.416667px;
    color: var(--white);
}

@media screen and (min-width: 992px) {
    .mid-section h1 {text-align: none;}
}

/* Footer section with logo, copyright and icon links
-------------------------------------------------- */

footer {
    font-size: 15px;
    line-height: 32px;
    background-color: var(--cream);
    margin-top: -90px;
    padding-bottom: 35px;
    padding-top: 110px;
}

@media screen and (min-width: 768px) {
    footer {
        margin: -573px 0 0 0;
        padding-top: 560px;
    }
}

@media screen and (min-width: 992px) {
    footer {
        margin-top: -305px;
        padding-top: 340px;
    }
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

@media screen and (min-width: 768px) {
    .footer-wrap {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .footer-wrap {margin: 0 165px 0 165px;}
}

#logo-2 {margin: 0 auto;}

@media screen and (min-width: 768px) {
    #logo-2 {margin: 0;}
}

#copyright {width: 125px;}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 116px;
}

.icon-container img {width: 20px;}

a img:hover {
    background-color: #172339;
    mix-blend-mode: normal;
    opacity: 0.5;
  }